* {
  box-sizing: border-box;
}

.header h1 {
  font-size: 50px;
}

@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

.txt-center {
  text-align: center;
}

/* padding */
.padding-s {
  padding: 1% 2%;
}

.padding-md {
  padding: 3%;
}

/* font-size */
.font-size-l {
  font-size: 30px;
}

/* list */
nav li {
  display: inline !important;
}

/* color */
.txt-light {
  color: #DDD;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.bg-home {
  background-image: url("../Img/ezio.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

